<div class="admin-title">
    <h2>Users</h2>
    <a href="/manage-users" class="button">Quản lý người dùng</a>
  </div>
  
  <div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="button">+ Thêm Post</a>
  </div>
  
  <ul class="admin-posts">
    <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>
            <div class="admin-post-controls">
                <a href="/edit-post/<%= post._id %>" class="btn">Sửa Post</a>
  
                <form id="deleteForm_<%= post._id %>" action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Xóa Post" class="btn-delete btn" onclick="confirmDelete('<%= post._id %>')">
                </form>
            </div>
        </li>
    <% }) %>
  </ul>
  
  <script>
    function confirmDelete(postId) {
        if (confirm("Bạn có chắc muốn xóa post này?")) {
            document.getElementById("deleteForm_" + postId).submit();
        }
    }
  </script>
  