<header class="header">
    <a href="/" class="header__logo">BlogNode</a>
    <nav class="header__nav">
        <ul class="header__nav-list">

            <li>
                <a href="/" class="">Trang chủ</a>
            </li>

            <li>
                <a href="/about" class="">Về chúng tôi</a>
            </li>

            <li>
                <a href="/contact" class="">Liên hệ</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
          Tìm kiếm
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
</header>