<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi</title>
</head>
<body>
    <h1>Lỗi</h1>
    <p><%= message %></p>
</body>
</html>
