<h3>Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Name</b></label>
  <input type="text" placeholder="Enter Name" name="name">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>